.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
  display: flex;
  width: 60%;
  margin: auto;
}
.box p {
  margin: 0;
  padding: 0;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 4rem;
  font-weight: bold;
  border-radius: 100vh;
  border-bottom: 7px solid #0686b2;
  background: #27acd9;
  color: #fff;
}

@media (max-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.btn:hover {
  margin-top: 6px;
  border-bottom: 1px solid #0686b2;
  color: #fff;
}
